@font-face {
  font-family:'Galano';
  src: url('Fonts/Font Galano/Galano Grotesque/Galano Grotesque.otf') format('opentype');
  }

@font-face {
  font-family:'Gudea' ;
  src: url('Fonts/Font Gudea/Gudea-Regular.ttf') format('truetype');
}

/*RESPONSIVIDADE*/

@media only screen and (max-width: 600px) and (orientation: portrait) {
 nav li{
 font-size: 12px;
 } 
  
 .chamada-topo{
  font-size: 10px;
 }


}

body {
  width: 80%;
  margin: auto;
}

.header {
  display: flex;
  align-items: center;
  padding: 0 0 2px 115px;
  justify-content: center;
  position: fixed;
  background-color: white;
  width: 75%;
  transition: height 1s ease-in-out;
  }

.header.smaller {
  height: 50px;
} 

.header.smaller #logo{
  width: 90px;
  transition: max-width 0.3s ease-in-out;
}

nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin: auto 30px auto 30px;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Galano';
}

nav a {
  text-decoration: none;
  color: #3F206E;
}

.chamada-topo{
  background-color: #FFAE00;
  padding: 5px;
  border-radius: 10px;
  font-size: 18px;
}

.chamada-topo:hover{
  background-color: white;
  color: #3F206E;
  border: 2px solid #FFAE00;
}

nav a:hover {
  color: #FFAE00;
  font-weight: bold;
  }

.logo img{
  width: 175px;
  margin: 0 30px 0 30px;
}

.links ul li {
  display: inline-block;
  position: relative;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #cac7cc24;
  transition: 0.9s;
  border-radius: 10px;
  font-size: 8pt;
}

.dropdown-menu li {
  display: block;
  white-space: nowrap;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

h1, h2, h3{
  font-family: 'Galano', 'Times';
  color: #3F305C;
}

p{
  font-family: 'Gudea';
  color: #3F305C;
  line-height: 33px;
}

.etapas-troca h3{
  font-size: 25px;
}  

.primeira-chamada {
  width: 50%;
  display:inline-block;
  margin-top: 12vh;
}

.primeira-chamada p, li{
  font-size: 20px;
  text-align: justify;
  padding: 5px;
  }

.primeira-chamada p{
  width: 85%;
}

.primeira-chamada h1{
  font-size: 40px;
}

.tire-sua-empresa-titulo{
  margin: 50px auto 0 auto;
}

.titulo-abertura{
  margin-bottom: 50px;
}

.destaque-especialista{
  font-size: 30px;
}

.destaque-especialista{
  width: 50%;
  text-align: center;
}

.botao1{
  width: 50%;
  text-align: center;
}

.lista-servicos{
  list-style: none;
  padding-left: 0;
  color: #3F206E;
  font-family: 'Gudea';
}

.lista-servicos li::before {
  content: "\2713"; 
  color: #3F206E; 
  font-size: 18px; 
  margin-right: 8px; 
}

.botao-abrir-empresa{
  background-color: #FFAE00;
  padding: 8px;
  color: #3F206E;
  font-weight: bold;
  border-radius: 10px;
  font-size: 20px;
  font-family: 'Galano';
  text-decoration: none;
  display: inline-block;
  margin-right: 10px;
}

.botao-abrir-empresa:hover{
  background-color: white;
  border: 1px solid #FFAE00;
}

.botao-trocar-contador{
  background-color: #3F206E;
  padding: 8px;
  border: 2px solid;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  font-size: 20px;
  font-family: 'Galano';
  text-decoration: none;
  display: inline-block;
  margin-left: 10px;
  }

.botao-trocar-contador:hover{
  background-color: white;
  color: #3F206E;
}

.conteudoOculto{
  width: 45%;
  font-family: 'Gudea';
  color: #3F305C;
  padding: 1px 0;
  background-color: rgba(242, 238, 238, 0.679);
  margin: 10px;
  border-radius: 15px;
}

#clickMostrar{
  cursor: pointer;
  font-size: 18px;
  position: relative;
  margin-left: 10px;
  font-weight: bold;
}

#clickMostrar::after{
  content: "🡳";
  position: absolute;
  left: 95%;
}

#escondido, #escondido2, #escondido3, #escondido4, #escondido5, #escondido6, #escondido7{
  display: none;
  margin: 10px;
  color: black;
}

#escondidoFAQ1, #escondidoFAQ2, #escondidoFAQ3, #escondidoFAQ4, #escondidoFAQ5, #escondidoFAQ6{
  display: none;
  color: black;
  margin: 10px;
}

.botoes2, .botoes5, .botoes6{
  text-align:center;
  margin: 50px 0;
}

.troca-de-contador{
  text-align: center;
  font-size: 25px;
}

.fluxo-troca{
  text-align: center;
  width: 900px;
  margin-left: 300px;
}

.passos-troca-contador{
display: flex;
margin: 0 180px;
text-align: center;
}

.etapas-troca{
  flex: 1;
  flex-basis: 0;
  padding: 0 10px;
  margin: 0 20px 0 20px;
}

.botao3{
  text-align: center;
  margin: 50px 0;
}

.titulo{
  text-align: center;
  font-size: 25px;
}

.subtitulo-nossos-servicos{
  text-align: center;
  font-size: 20px;
}

.servico{
  display:inline-block;
  width: 400px;
  height: 180px;
  margin: 25px 50px;
  text-align: center;
  border: solid 1px #3F206E;
  }

  .servico h3{
    font-size: 20px;
  }

  .servico p{
    margin: 10px;
  }

.botao-fale-com-a-citz{
  background-color: #FFAE00;
  padding: 8px;
  color: #3F206E;
  font-weight: bold;
  border-radius: 10px;
  font-size: 20px;
  font-family: 'Galano';
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

.botao-fale-com-a-citz:hover{
  background-color: white;
  border: 1px solid #FFAE00;
}

.botoes4{
  margin: 40px 0;
  text-align: center;
}

.planos{
  display: inline-block;
  text-align: center;
  margin: 70px 114px;
}

.planos h3{
  font-size: 20px;
}

#plano1, #plano2, #plano3{
  border: 1px solid #FFAE00;
  height: 350px;
  width: 250px;
  border-radius: 10px;
  padding: 0 10px 10px 10px;
}

.saiba-mais{
text-decoration: none;
color: #3F305C;
background-color: #FFAE00;
padding: 10px;
border-radius: 10px;
font-size: 13pt;
}

.saiba-mais:hover{
  background-color: white;
  color: #3F206E;
  border: 2px solid #FFAE00;
}

.divFAQ{
  margin: 10px;
  background-color: rgb(242, 238, 238);
  padding: 3px;
  border-radius: 10px;
  font-size: 16px;
}

#mostrarResposta{
  cursor: pointer;
  font-family: 'Gudea';
  margin-left: 8px;
}

#mostrarResposta::after{
  content: "🡳";
  position: absolute;
  left: 85%;
}

.carousel {
  width: 100%;
  justify-items: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 120px;
}

.carousel-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  display: flex;
}

.carousel-slide {
  opacity: 0;
  text-align: center;
  transition: opacity 0.5s;
  flex: 0 0 100%;
}

.carousel-slide.active {
  opacity: 1;
}

.carousel-slide img {
  max-width: 100%;
}

.prev-button,
.next-button {
  background: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.prev-button:hover,
.next-button:hover {
  background: #555;
}

.texto-contador{
  text-align: justify;
}

#solucoes{
  margin: 120px 0;
}

#servicos{
  margin: 120px 0;
}

#planos{
  margin: 120px 0;
}

#faq{
  margin-bottom: 120px;
}

#contador-online{
  margin-bottom: 70px;
}

.logo-rodape{
  width: 200px;
}

.foto-cliente{
  width: 100px;
}

.slogan{
  color: #3F206E;
  text-align: center;
  font-size: 20px;
}

.rodape{
  display: flex;
  justify-content: space-around;
  align-items: start;
  padding-bottom: 50px;
  font-family: 'Gudea';
}

#titulo-rodape{
  color: #FFAE00;
  font-size: 20px;
  font-weight: bold;
}

#lista-rodape{
  color: #FFAE00;
}

#links-rodape{
  text-decoration: none;
  color: #3F206E;
  display: flex;
  font-size: 18px;
}

#logos-redes{
  width: 40px;
  padding: 2px;
}