@font-face {
  font-family:'Galano';
  src: url('Fonts/Font Galano/Galano Grotesque/Galano Grotesque.otf') format('opentype');
  }

@font-face {
  font-family:'Gudea' ;
  src: url('Fonts/Font Gudea/Gudea-Regular.ttf') format('truetype');
}

body {
  width: 80%;
  margin: auto;
}

header {
  display: flex;
  align-items: center;
  padding: 0 50px 2px 50px;
  justify-content: center;
}

nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin: auto 30px auto 30px;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Galano';
}

nav a {
  text-decoration: none;
  color: #3F206E;
}

.chamada-topo{
  background-color: #FFAE00;
  padding: 5px 12px 15px 12px ;
  border-radius: 10px;
  font-size: 18px;
}

.chamada-topo:hover{
  background-color: white;
  color: #3F206E;
  border: 2px solid #FFAE00;
}

nav a:hover {
  color: #FFAE00;
  font-weight: bold;
  }

.logo img{
  width: 175px;
  margin: 0 30px 0 30px;
}

h1, h2, h3 {
  font-family: 'Galano', 'Times';
}

p, li {
  font-family: 'Gudea';
  color: #3F305C;
}

h1, h2, h3 {
  color: #3F206E;
  }

.primeira-chamada {
  width: 50%;
  display:inline-block;
  margin-top: 50px;
}

.primeira-chamada p, li{
  font-size: 20px;
  text-align: justify;
  }

.primeira-chamada p{
  width: 80%;
}

.primeira-chamada h1{
  font-size: 40px;
}

.destaque-especialista{
  font-size: 30px;
}

.destaque-especialista{
  width: 50%;
  text-align: center;
}

.botao-abrir-empresa{
  background-color: #FFAE00;
  padding: 12px;
  color: #3F206E;
  font-weight: bold;
  border-radius: 10px;
  font-size: 20px;
  font-family: 'Galano';
  text-decoration: none;
  display: inline-block;
  margin: 0 50px 0 25px;
  }

.botao-abrir-empresa:hover{
  background-color: white;
  border: 2px solid #FFAE00;
}

.botao-trocar-contador{
  background-color: white;
  padding: 12px;
  border: 2px solid;
  color: #3F206E;
  font-weight: bold;
  border-radius: 10px;
  font-size: 20px;
  font-family: 'Galano';
  text-decoration: none;
  display: inline-block;
  margin: 0 25px 0 25px;
  }

  .botao-trocar-contador:hover{
    background-color: #3F206E;
    color: white;
  }

  .o-que-podemos-fazer{
    width: 50%;
  }






.foto-cliente{
  width: 100px;
  height: 100px;
}